/* Variables */

/* colors */
$body-background-color: darkred;
$body-background-color-medium: blue;
$body-background-color-large: lightgreen;
$form-background-color: white;
$form-background-color-medium: antiquewhite;
$form-background-color-large: cream;
$input-color: white;
$headlines-color: white;

