$fonts-headline: 'Pacifico', cursive;
$fonts-body: 'Josefin Sans', sans-serif;
$background-color: #40E0D0;
$primary: #ffff8f;
$accent1: #00ffff;
$accent2: #ff00ff;
$accent3: #f28500;
$text-dark: #333;;
$text-light: #fff;