body {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Fira Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

header img {
    padding-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

h2 {
    display: flex;
    justify-content: center;
}

a {
    text-align: center;
}
footer {
    border-radius: 10px;
    background-color: darkred;
    color: white;
}

footer p {
    padding: 15px;
    text-align: center;
}
